.titlu1 {
    text-align: center;
}

.Homecss{
    height: 100vh;
    background-image: url('../imagini/high.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Aboutcss{
    height: 100vh;
    background-image: url('../imagini/intrebare.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button1 {
    background-color: #00008B;
    
}

.button1:hover {
    background-color: red;
}
.fil{
    background:rgba(255,255,255,0.5);
    
}