.div1 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/124ca078-9c51-4c1d-9873-11275781abe8/ddbu3ez-48d7e5ed-056e-4fb0-8527-35dd328f602a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyNGNhMDc4LTljNTEtNGMxZC05ODczLTExMjc1NzgxYWJlOFwvZGRidTNlei00OGQ3ZTVlZC0wNTZlLTRmYjAtODUyNy0zNWRkMzI4ZjYwMmEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TaBKElK-E49GPvcvG3dPNh3Hmeb5c5hwNVEyWhC6X68");
  background-size: 0.1%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlu {
  font-family: "Lacquer", sans-serif;
  font-size: 10em;
  text-shadow: 4px 4px grey, 5px 5px rgb(54, 53, 53);
  text-align: center;
  height: 50vh;
}
.titlu:hover {
  color: rgb(105, 81, 63);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.buttonStart {
  width: 12%;
  border-radius: 25px;
  background-color: #48a048;
  border-color: #48a048;
}
.buttonStart:hover {
  color: #5cb85c;
  background-color: #5cb85c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

.imagine {
  border-radius: 50%;
  width:500px;
}
.bg {
  background-image: url("https://assetstorev1-prd-cdn.unity3d.com/key-image/a240f916-20bc-4e47-9048-98a8d1d92d53.jpg");
  background-size: contain;
}

.buttonHome {
  background-color: #df3e39;
  border-color: #df3e39;
}
.bg1{
  background-image: url("https://i.pinimg.com/564x/26/8f/35/268f35bb3334a06076dd4e90a9f2a28d.jpg");
  background-size: contain;
}
.text{
  background-color: rgb(255, 0, 242);
}

.div2
{
  background-image: url("https://pbs.twimg.com/media/CqH2o0lW8AAw6q9.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameover{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 10em;
  text-shadow: 4px 4px rgb(255, 0, 0), 5px 5px rgb(212, 9, 53);
  text-align: center;
  height: 50vh;
}
.goimage {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
.bg2{
  background-image: url("https://staticdelivery.nexusmods.com/mods/804/images/686/686-1532363461-162904751.png");
  background-size: cover;
}
.invizibil{
  height: 700px;
}
.bg4{
  background-image: url("https://img4.goodfon.com/wallpaper/nbig/9/f7/darknest-dungeon-ruins-door.jpg");
  background-size: contain;

}
.bg5{
  background-image: url("https://ak4.picdn.net/shutterstock/videos/897724/thumb/1.jpg");
  background-size: contain;
}
.bad{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 10em;
  text-shadow: 4px 4px rgb(251, 255, 0), 5px 5px rgb(209, 212, 9);
  text-align: center;
  height: 50vh;
}
.div3{
  background-image: url("https://cdn.pixabay.com/photo/2018/03/27/19/24/panoramic-3267048_960_720.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.good{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 10em;
  text-shadow: 4px 4px rgb(43, 255, 0), 5px 5px rgb(65, 207, 9);
  text-align: center;
  height: 50vh;
}
.div4{
  background-image: url("https://sc01.alicdn.com/kf/HTB1FYAaKpXXXXX8XpXXq6xXFXXXP/Architecture-house-and-town-plans-2D-3D.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divStory{
  background-image: url("https://sc01.alicdn.com/kf/HTB1FYAaKpXXXXX8XpXXq6xXFXXXP/Architecture-house-and-town-plans-2D-3D.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonStory
{
  cursor: pointer;
  display: inline-block;  
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 2em;
  background: white;
  color: black;
}
.Story{
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
  text-align: center;
  color:pink;
}